{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "cypress"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  }
}
