{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@unfoldingword"
  ],
  "plugins": [
    "react",
    "cypress",
    "chai-friendly"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  }
}