# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/styleguide

#cypress
screenshots/*
videos/*

# dependencies
/node_modules
/.pnp
.pnp.js
**.mp4
**.png
cypress.env.json
**/example.json

# testing
/coverage/**
/.docz/**
/dist/**
/.nyc_output/**

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
